body {
    margin:0;
}

#metric-units {
    margin-top: 0;
    background: #6943FF;
    height: 285px;
    max-width: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

#title {
    margin-top: 0;
    padding-top: 20px;
    color: #FFFFFF;
}

#user-input {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    border: 2px solid #B295FF;
    background: #6943FF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 40px;
}

#convert-btn {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#other-units {
    background: #1F2937;
    height: 420px;
    max-width: 550px;
    padding: 40px;
}

.unit-box {
    background: #273549;
    height: 100px;
    width: 400px;
    margin: 40px auto;
    margin-top: 0;
    border-radius: 5px;
    padding: 5px;
}

h2 {
    text-align: center;
    color: #CCC1FF
}

p {
    text-align: center;
    color: #FFFFFF;
}